body {
  background-color: #128742;
  font-family: cursive;
  font-weight: bold;
  border: 10px solid white;
  text-align: center;
}

table, th, td {
  background-color: white;
  border: 1px solid black;
  width: 500px;
  align-self: center
}

table {
  margin: 20px auto 20px auto;
}

h1 {
  text-align: center;
}
